<launch>
    <node name="KWS" pkg="speech" type="KWS.py" output="screen"> 
    </node>
    <arg name="DEBUG_WHISPER" default="false"/> <!-- Print messages using rospy.logdebug (execution time) -->
    <arg name="USE_WHISPER_OFFLINE" default="true"/> <!-- Use whisper, instead of DeepSpeech -->
    <!-- FORCE_ENGINE: 'online' - Azure, 'offline' - Whisper or DeepSpeech, 'none' - Both Engines [it depends on internet] -->
    <arg name="FORCE_ENGINE" default="offline"/>
    

    <!-- Devices -->
    <node name="AudioCapturer" pkg="speech" type="AudioCapturer.py" respawn="true" output="screen"/>
    <node name="UsefulAudio" pkg="speech" type="UsefulAudio.py" respawn="true" output="screen"/>
    <node name="say" pkg="speech" type="Say.py" respawn="true" output="screen" />

    <!-- Speech To Text -->
    <node name="hear" pkg="speech" type="Hear.py" respawn="true" output="screen">
        <param name="FORCE_ENGINE" value="$(arg FORCE_ENGINE)" />
        <param name="USE_WHISPER_OFFLINE" value="$(arg USE_WHISPER_OFFLINE)" />
    </node>

    <!-- <node name="azureSpeechText" pkg="action_selectors" type="AzureSpeechToText" output="screen" if="$(eval arg('FORCE_ENGINE') != 'offline')"/> -->
    <!-- <node name="DeepSpeech" pkg="action_selectors" type="DeepSpeech.py" output="screen" if="$(eval arg('FORCE_ENGINE') != 'online' and not arg('USE_WHISPER_OFFLINE'))"/> -->
    
    <node name="Whisper" pkg="speech" type="Whisper.py" output="screen" if="$(eval arg('FORCE_ENGINE') != 'online' and arg('USE_WHISPER_OFFLINE'))">
        <param name="debug" value="$(arg DEBUG_WHISPER)"/>
    </node>

</launch>